/Junit/STVJunit/nbproject/private/
/Junit/GOF_Coffee_Decorator/nbproject/private/
/Junit/GOF_Coffee_Decorator/build/
/GOF_Observer/nbproject/private/
/gof_observer_structure/nbproject/private/
/gof_observer_structure/build/