/Junit/STVJunit/nbproject/private/
/Junit/GOF_Coffee_Decorator/nbproject/private/
/Junit/GOF_Coffee_Decorator/build/
/GOF_Observer/nbproject/private/
/gof_observer_structure/nbproject/private/
/gof_observer_structure/build/
/Lab 6 Code Coverage/nbproject/private/
/Lab 6 Code Coverage/build/
/Lab 6 Code Coverage/dist/
/test/nbproject/private/
/NumberScore/nbproject/private/
/NumberScore/build/
/statepattern/nbproject/private/
/statepattern/build/
/MiniPlayer/nbproject/private/
/MiniPlayer/build/